.game {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 
  .app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}