
.game {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  .app {
    min-height: 100vh;
  
    padding: 20px;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}