.progress-bar-container {
  background-color: #ddd;
  height: 20px;
  margin: 20px 0;
  border-radius: 10px;

  .progress-bar {
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;

    &-green {
      background-color: green;
    }

    &-yellow {
      background-color: yellow;
    }

    &-red {
      background-color: red;
    }
  }
}
