.progress_bar_container {
  background-color: #bebebe;
  height: 20px;
  margin: 20px 0;
  border-radius: 10px;
  width: 30%;

  .progress_bar {
    width: 70%;
    height: 20px;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;

    &_green {
      background-color: green;
    }

    &_yellow {
      background-color: yellow;
    }

    &_orange {
      background-color: orange;
    }

    &_red {
      background-color: red;
    }
  }
}
